<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Louvre{% endblock %}</title>

        <!--Import Google Icon Font-->
{% include 'assets/css.html.twig' %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>

    <body class="grey darken-4">
    <div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper black">
            <a href="/" class="brand-logo center"><img src="{{ asset("img/logo.jpg") }}"></a>
        </div>
    </nav>
    </div>
        {% block body %}

        {% endblock %}


    <!-- Modal Structure -->
    <div id="modal1" class="modal">
        <div class="modal-content">
            <h4>{{ "Pricing"|trans }}</h4>
            <table class="striped">
                <thead>
                <tr>
                    <th class="col1">{{ "Rate"|trans }}</th>
                    <th class="col2">{{ "Condition"|trans }}</th>
                    <th class="col3">€</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td class="col1">{{ "Normal"|trans }}</td>
                    <td class="col2">{{ "From 12 years old"|trans }}</td>
                    <td class="col3">16 €</td>
                </tr>
                <tr>
                    <td class="col1">{{ "Children"|trans }}</td>
                    <td class="col2">{{ "between 4 and 12 years old"|trans }}</td>
                    <td class="col3">8 €</td>
                </tr>
                <tr>
                    <td class="col1">{{ "Senior"|trans }}</td>
                    <td class="col2">{{ "From 60 years old"|trans }}</td>
                    <td class="col3">12 €</td>
                </tr>
                <tr>
                    <td class="col1">{{ "Reduced"|trans }} *</td>
                    <td class="col2">{{ "only for student, museum employee, department of the Ministry of Culture, military ..."|trans }}</td>
                    <td class="col3">10 €</td>
                </tr>
                <tr>
                    <td class="col1">{{ "Baby"|trans }}</td>
                    <td class="col2">{{ "less than 4 years"|trans }}</td>
                    <td class="col3">{{ "Free !"|trans }}</td>
                </tr>
                </tbody>
            </table>
            <br>
            <p>*
            {{ "it will be necessary at the entrance to present your student card, military or equivalent to prove that you benefit from the reduced rate"|trans }}
            </p>
        </div>
        <div class="modal-footer">
            <a href="#!" class="modal-action modal-close waves-effect waves-green btn-flat">Ok</a>
        </div>
    </div>

{% include 'assets/js.html.twig' %}
    {% block js %}{% endblock %}
    </body>
</html>
