{% extends 'base.html.twig' %}
{% block body %}
    <div class="parallax-container">
        <div class="parallax"><img src="{{ asset('img/parallax1.jpg') }}"></div>
    </div>
    <div class="section grey darken-4 grey-text text-lighten-5">
        <div class="row container">
            <h2 class="header">
                {{ "Thanks You"|trans }}</h2>
            <br>

            <p>{{ "Your order is well recorded. It is number"|trans }} {{ order.orderNumber }}. {{ "You will receive your tickets by email within a few minutes"|trans }}.</p>
            <br>
            <a class="btn btn-large deep-orange darken-3 white-text"  href="{{ path('index') }}">{{ "Return to homepage"|trans }}</a>

        </div>

    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="{{ asset('img/parallax2.jpg') }}"></div>
    </div>

{% endblock %}
