{% extends 'base.html.twig' %}

{% block body %}
    <div class="parallax-container">
        <div class="parallax"><img src="{{ asset('img/parallax1.jpg') }}"></div>
    </div>
    <div class="section grey darken-4 grey-text text-lighten-5">
        <div class="row container">
            <h2 class="header">{{ "Book your tickets online"|trans }}</h2><span><button data-target="modal1" class="btn modal-trigger deep-orange accent-3">{{ "Pricing"|trans }}</button></span>

            {{ form_start(form) }}
            {{ form_row(form.email) }}
            {{ form_row(form.dateOfVisit) }}
            {{ form_row(form.fullDayTicket) }}

            <h3>Tickets</h3>


            <div class="tickets">
                <ul class="tickets" data-prototype="{{ form_widget(form.tickets.vars.prototype)|e('html_attr') }}"></ul>
            </div>
            {{ form_end(form) }}


        </div>
    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="{{ asset('img/parallax2.jpg') }}"></div>
    </div>

{% endblock %}
{% block js %}
    <script>

    </script>
    <script type="text/javascript" src="{{ asset('js/dates.js') }}"></script>

    <script type="text/javascript" src="{{ asset("js/TicketCollection.js") }}"></script>

    <script type="text/javascript" src="{{ asset('js/datepicker.js') }}"></script>
{% endblock %}
