{% extends 'base.html.twig' %}
{% block body %}
    <div class="parallax-container">
        <div class="parallax"><img src="{{ asset('img/parallax1.jpg') }}"></div>
    </div>
    <div class="section grey darken-4 grey-text text-lighten-5">
        <div class="row container">
            <h2 class="header">
                {{ "Order summary"|trans }}</h2>
            <table>
                <thead>
                <tr>
                    <th>{{ "Firstname"|trans }}</th>
                    <th>{{ "Lastname"|trans }}</th>
                    <th>Age</th>
                    <th>{{ "Country"|trans }}</th>
                    <th>{{ "Item Price"|trans }}</th>
                </tr>
                </thead>

                <tbody>
                {% for ticket in order.tickets %}
                    <tr>
                        <td>{{ ticket.firstname }}</td>
                        <td>{{ ticket.lastname }}</td>


                        <td>{{ ticket.birthdate|age(order.dateOfVisit) }}</td>
                        <td>{{ ticket.country|countryName }}</td>
                        <td>{{ ticket.price }} €</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td class="total"></td>
                    <td class="total"></td>
                    <td class="total"></td>
                    <td class="total">Total:</td>
                    <td class="total">{{ order.total }} €</td>
                </tr>


                </tbody>
            </table>
            <p>{{ "By validating this order, you declare to accept the entirety of the"|trans }} <a href="https://www.ticketlouvre.fr/louvre/b2c/index.cfm/CGV" target="_blank">{{ "General Conditions of Sale"|trans }}</a>.</p>
            <form action="{{ path('payment') }}" method="POST">
                <script
                        src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                        data-key="{{ stripePublishableKey }}"
                        data-amount="{{ order.total * 100 }}"
                        data-image="{{ asset('img/logo-pyramide.png') }}"
                        data-label="{{ "Checkout"|trans }}"
                        data-name="{{ "Louvre Museum"|trans }}"
                        data-description={{ "Ticket order"|trans }}
                        data-locale="auto"
                        data-customer="true"
                        data-allow-remember-me="false"
                        data-email="{{ order.email }}"
                        data-currency="eur">
                </script>
            </form>

        </div>

    </div>
    <div class="parallax-container">
        <div class="parallax"><img src="{{ asset('img/parallax2.jpg') }}"></div>
    </div>

{% endblock %}
